.disableSelection {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}


.grid {
  color: var(--text-color);
  --x-divider: 3px;
  display: grid;
  grid-template-areas:
    "header header header r-div right"
    "t-div t-div t-div r-div right"
    "left l-div main r-div right"
    "b-div b-div b-div b-div b-div"
    "footer footer footer footer footer";
  grid-template-columns:
    var(--x-left, 1fr)
    var(--x-divider)
    minmax(0, 20%)
    var(--x-divider)
    var(--x-right, 3%);
  grid-template-rows:
    auto
    var(--x-divider)
    minmax(0, 1fr) var(--x-divider)
    var(--x-bottom, 3%);
  height: 100%;
}

.grid > * {
  display: block;
  overflow: auto;
}

.header {
  grid-area: header;
  display: flex;
  position: relative;
  padding: 0.6em;
}

.main {
  grid-area: main;
}

.left {
  background: var(--dark-background);
  grid-area: left;
  display: flex;
  flex-direction: column;
  position: relative;
}

.right {
  grid-area: right;
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer {
  grid-area: footer;
  display: flex;
  position: relative;
}

.divider {
  background: var(--dark-background);
}

.divider:hover,
.divider:active {
  background: var(--divider-hover);
}

.grid:active .divider:not(:active) {
  background: var(--dark-background);
}

:empty + .divider {
  display: none;
}

.header + .divider {
  grid-area: t-div;
  cursor: ns-resize;
}

.footer + .divider {
  grid-area: b-div;
  cursor: ns-resize;
}

.left + .divider {
  grid-area: l-div;
  cursor: ew-resize;
}

.right + .divider {
  grid-area: r-div;
  cursor: ew-resize;
}

::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.2em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
