.grid {
  --border-size: 0.15em;
  color: var(--text-color);
  height: 100%;
  display: grid;
  grid-template-columns: 1fr calc(var(--border-size) * 1.5) 20em 4em;
  grid-template-rows: 1fr 2em;
  grid-template-areas:
    "content divider panel sidebar"
    "status status status status";
}

.grid > * {
  display: block;
  overflow: auto;
}

.content {
  grid-area: content;
  background: var(--dark-background);
  display: grid;
  grid-template-rows: 3rem calc(100% - 3rem);
}

.panel {
  grid-area: panel;
  background: var(--darker-background);
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  background: var(--darker-background);
  border-left: var(--border-size) solid var(--indented-list-item-hover);
  padding-top: 0.5em;
}

.status {
  grid-area: status;
  background: var(--darker-background);
  border-top: var(--border-size) solid var(--indented-list-item-hover);
}

.divider {
  grid-area: divider;
  background: var(--indented-list-item-hover);
  cursor: ew-resize;
}

.divider:hover,
.divider:active {
  background: var(--divider-hover);
}
