.item {
  line-height: 1.55em;
  --depth: 1;
  padding-inline-start: calc(0.5em * (var(--depth) + 1));
  padding-inline-end: 0.5em;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
}

.item:hover {
  background-color: var(--indented-list-item-hover);
}

.icon {
  vertical-align: text-bottom;
  margin-inline-end: 0.25em;
  pointer-events: none;
}
