.tabs {
  display: flex;
}

.tab {
  display: inline-block;
  height: 2.5em;
  padding: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  border: 1px solid var(--indented-list-item-hover);
  min-width: 12em;
  max-width: 18em;
  flex: 0 1;
}

.selected {
  border-bottom-color: var(--accent-color);
  border-bottom-width: 2px;
}
