.tabs {
  display: flex;
  overflow: auto;
  /* use reset? */
  list-style: none;
  margin: 0;
  padding: 0;
}

.tab {
  padding: 0 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  border: 1px solid var(--indented-list-item-hover);
  min-width: 8em;
  max-width: 16em;
  flex: 0 1 100%;
  display: flex;
  align-items: center;
  border-bottom-color: transparent;
  border-bottom-width: 2px;
}

.tabTitle {
  flex: 1;
  pointer-events: none;
}

.closeButton:hover {
  color: var(--accent-color);
}

.tab:not(.selected) .closeButton  {
  display: none;
}

.tab:hover:not(.selected) .closeButton  {
  display: unset;
}


.selected {
  border-bottom-color: var(--accent-color);
  border-bottom-width: 2px;
}

.closeIcon {
  display: block;
}
